# Server-only
NODE_ENV=development

# Your t3-env variables here
# SERVER_SECRET=
# PUBLIC_APP_URL=
# NEXT_PUBLIC_APP_NAME=rea-final-project

# Skips schema validation (t3-env)
# SKIP_ENV_VALIDATION=1
